{namespace v=Tx_Vhs_ViewHelpers}
{namespace fcsc=Scarbous\infoTemplate\ViewHelpers}


<f:section name="Images">

<f:for each="{images}" as="image" iteration="imageIterator">

	<f:if condition="{fcsc:math.problem(a:'{imageIterator.cycle}%{data.imagecols}')}==1">
		<div class="row images">
		<v:var.set name="imageRowClose" value='0' />
	</f:if>

	<f:render section="getImage" arguments="{_all}"/>

	<f:if condition="{fcsc:math.problem(a:'{imageIterator.cycle}%{data.imagecols}')}==0">
		</div>
		<v:var.set name="imageRowClose" value='1' />
	</f:if>

<!--
    <figure style="display:inline-block;" >
    	<f:image src="{image.publicUrl}" id="I{image.uid}" title="{image.title}" alt="{image.alternative}" maxWidth="{ImageMaxWidth}" class="img-thumbnail"/>
    	<f:if condition="{image.description}"><figcaption>{image.description}</figcaption></f:if>
    </figure>
-->

</f:for>
<f:if condition="{imageRowClose}==0">
	</div>
</f:if>
</f:section>

<f:section name="Image">
	<f:for each="{images}" as="image">
		<f:render section="getImage" arguments="{_all}"/>
	</f:for>
</f:section>


<f:section name="getImage">
	<figure class="thumbnail">
		<f:if condition="{data.image_zoom}">
			<a href="{v:uri.image(src: '{image.publicUrl}', width: '1140')}" class="fancybox" data-toggle="lightbox" data-target="#lightbox">
		</f:if>
		<f:if condition="{image.description}">
			<div class="captionWrap">
		</f:if>
		<f:image src="{image.publicUrl}" id="I{image.uid}" title="{image.title}" alt="{image.alternative}" maxWidth="{ImageMaxWidth}"/>
		<f:if condition="{data.image_zoom}">
			</a>
		</f:if>
		<f:if condition="{image.description}">
				<figcaption class="caption">{image.description}</figcaption>
			</div>
		</f:if>
	</figure>
</f:section>


<f:if condition="{data.imagewidth}>0">
	<f:then>
		<v:var.set name="ImageMaxWidth" value="{data.imagewidth}" />
	</f:then>
	<f:else>
		<f:if condition="{images -> f:count()}>1">
			<f:then>
				<f:if condition="{data.CType} == 'textpic'">
					<v:var.set name="ImageMaxWidth" value="{fcsc:math.problem(a:' ( ({settings.images.maxWidth} + {settings.images.row.margin}*2) / ({data.imagecols}*2) ) - {settings.images.thumbnail.margin}*2 - {settings.images.thumbnail.padding}*2 ')}" />
				</f:if>
				<v:if.var.isset name="ImageMaxWidth"><f:else>
						<v:var.set name="ImageMaxWidth" value="{fcsc:math.problem(a:' ( ({settings.images.maxWidth} + {settings.images.row.margin}*2) / {data.imagecols} ) - {settings.images.thumbnail.margin}*2 - {settings.images.thumbnail.padding}*2 ')}" />
				</f:else></v:if.var.isset>
			</f:then>
			<f:else>
				<v:var.set name="ImageMaxWidth" value="{settings.Images.MaxWidth}" />
			</f:else>
		</f:if>
	</f:else>
</f:if>
<f:if condition="{images -> f:count()}>1">
	<f:then>
		<f:render section="Images" arguments="{_all}"/>
	</f:then>
	<f:else>
		<f:render section="Image" arguments="{_all}"/>
	</f:else>
</f:if>
