.media:after,
.imageContainer:after {
	content: ".";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0px;
}

.imageContainer a { display:block; }

.imageOrient-25 .content,
.imageOrient-26 .content { overflow: hidden; }

.imageOrient-17 .imageContainer,
.imageOrient-25 .imageContainer { float:right; }

.imageOrient-18 .imageContainer,
.imageOrient-26 .imageContainer { float:left; }



.imageOrient-0 .imageContainerWrap,
.imageOrient-8 .imageContainerWrap { right:50%; position: relative; float:right; }
.imageOrient-0 .imageContainer,
.imageOrient-8 .imageContainer{ right:-50%; position: relative; }

.imageOrient-1 .imageContainer,
.imageOrient-9 .imageContainer{ float:right; }

.imageOrient-0 .content,
.imageOrient-1 .content,
.imageOrient-2 .content{ clear: both;}


.imageContainer figure { float: left; }

.imageContainer figure.rowCount-0 { clear:both;}

.imagecols-2 figure {
	max-width: 50%;
}
.imagecols-3 figure {
	max-width: 33.333333333%;
}
.imagecols-4 figure {
	max-width: 25%;
}
.imagecols-5 figure {
	max-width: 20%;
}
.imagecols-6 figure {
	max-width: 16.666666666%;
}
.imagecols-7 figure {
	max-width: 14, 285714286%;
}
.imagecols-8 figure {
	max-width: 12, 5%;
}

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
