{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace fcsc=Scarbous\fcsc\ViewHelpers}


<f:layout name="Default" />
<f:section name="Main">
<flux:form.data table="tt_content" field="pi_flexform" record="{data}" as="flexform">


<v:iterator.explode content="{data.bodytext}" glue="{flexform.tableparsing_delimiter}" as="NULL">

</v:iterator.explode>
    <f:if condition="{settings.table.defaultClass}">
        <v:variable.set name="tableClass" value="{settings.table.defaultClass}" />
    </f:if>

    <f:if condition="{v:variable.get(name: 'settings.table.layoutClass.{data.layout}', useRawKeys:1)}">
        <v:variable.set name="tableClass" value="{tableClass} {v:variable.get(name: 'settings.table.layoutClass.{data.layout}', useRawKeys:1)}" />
    </f:if>
    <f:if condition="{flexform.acctables_tableclass}">
        <v:variable.set name="tableClass" value="{tableClass} {flexform.acctables_tableclass}" />
    </f:if>


	<table
	{f:if(condition:'{flexform.acctables_nostyles}!=1',	then:' class="{tableClass}"')}
	{f:if(condition:'{data.table_border}!=0',			then:' border="{data.table_border}"')}
	{f:if(condition:'{data.table_cellspacing}!=0',		then:' cellspacing="{data.table_cellspacing}"')}
	{f:if(condition:'{data.table_cellpadding}!=0',		then:' cellpadding="{data.table_cellpadding}"')}
	{f:if(condition:'{flexform.acctables_summary}',		then:' summary="{flexform.acctables_summary -> f:format.raw()}"')}
	>

	<f:if condition="{flexform.acctables_caption}"><caption>{flexform.acctables_caption}</caption></f:if>
	<f:for each="{fcsc:Getcsv(csv:data.bodytext, delimiter:flexform.tableparsing_delimiter,quotedInput:flexform.tableparsing_quote)}" as="row" iteration="rowIteration">

		<f:if condition="{rowIteration.isFirst}">
			<f:if condition="{flexform.acctables_headerpos}=='top'">
				<f:then><thead><f:for each="{row}" as="cell"><th>{cell -> f:format.raw()}</th></f:for></thead></f:then>
				<f:else><f:render section="tableRow" arguments="{_all}"/></f:else>
			</f:if>
		</f:if>
		<f:if condition="{rowIteration.isFirst}!=1"><f:if condition="{rowIteration.isLast}!=1">
			<f:render section="tableRow" arguments="{_all}"/>
		</f:if></f:if>
		<f:if condition="{rowIteration.isLast}">
			<f:if condition="{flexform.acctables_tfoot }">
				<f:then><tfoot><f:for each="{row}" as="cell"><td>{cell -> f:format.raw()}</td></f:for></tfoot></f:then>
				<f:else><f:render section="tableRow" arguments="{_all}"/></f:else>
			</f:if>
		</f:if>
	</f:for>
	</table>

	</flux:form.data>

</f:section>

<f:section name="tableRow">
<tr><f:for each="{row}" as="cell" iteration="cellIteration">
<f:if condition="{flexform.acctables_headerpos}=='left'">
	<f:then>
		<f:if condition="{cellIteration.isFirst}">
			<f:then><th>{cell -> f:format.raw()}</th></f:then>
			<f:else><td>{cell -> f:format.raw()}</td></f:else>
		</f:if>
	</f:then>
	<f:else><td>{cell -> f:format.raw()}</td></f:else>
</f:if>
</f:for></tr>
</f:section>