{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace flux=FluidTYPO3\Flux\ViewHelpers}
{namespace fcsc=Scarbous\fcsc\ViewHelpers}


<f:layout name="Default" />
<f:section name="Main">

<flux:form.data table="tt_content" field="pi_flexform" record="{data}" as="flexform">
    <fcsc:Getcsv csv="{data.bodytext}" delimiter="{flexform.tableparsing_delimiter}" quotedInput="{flexform.tableparsing_quote}" as="csvData">
        <v:tag name="table" class="{f:if(condition:'{flexform.acctables_nostyles}!=1',	then:'
        {settings.table.defaultClass}
        {v:variable.get(name: \'settings.table.layoutClass.{data.layout}\', useRawKeys:1)}
        {flexform.acctables_tableclass}
        ')}"
            additionalAttributes="{
                border:'{data.table_border}',
                cellspacing:'{data.table_cellspacing}',
                cellpadding:'{data.table_cellpadding}',
                summary:'{flexform.acctables_summary -> f:format.raw()}'
            }"
        >
            <v:tag name="caption" hideIfEmpty="{flexform.acctables_caption}">{flexform.acctables_caption}</v:tag>
            <f:for each="{csvData}" as="row" iteration="rowIteration">

                <f:if condition="{rowIteration.isFirst}">
                    <f:if condition="{flexform.acctables_headerpos}=='top'">
                        <f:then><thead><f:for each="{row}" as="cell"><th>{cell -> f:format.raw()}</th></f:for></thead></f:then>
                        <f:else><f:render section="tableRow" arguments="{_all}"/></f:else>
                    </f:if>
                </f:if>
                <f:if condition="{rowIteration.isFirst}!=1"><f:if condition="{rowIteration.isLast}!=1">
                    <f:render section="tableRow" arguments="{_all}"/>
                </f:if></f:if>
                <f:if condition="{rowIteration.isLast}">
                    <f:if condition="{flexform.acctables_tfoot }">
                        <f:then><tfoot><f:for each="{row}" as="cell"><td>{cell -> f:format.raw()}</td></f:for></tfoot></f:then>
                        <f:else><f:render section="tableRow" arguments="{_all}"/></f:else>
                    </f:if>
                </f:if>
            </f:for>
        </v:tag>
    </fcsc:Getcsv>
</flux:form.data>

</f:section>

<f:section name="tableRow">
<tr><f:for each="{row}" as="cell" iteration="cellIteration">
<f:if condition="{flexform.acctables_headerpos}=='left'">
	<f:then>
		<f:if condition="{cellIteration.isFirst}">
			<f:then><th>{cell -> f:format.raw()}</th></f:then>
			<f:else><td>{cell -> f:format.raw()}</td></f:else>
		</f:if>
	</f:then>
	<f:else><td>{cell -> f:format.raw()}</td></f:else>
</f:if>
</f:for></tr>
</f:section>