<!--
<option value="0" >Oben mittig</option>
<option value="1">Oben rechts</option>
<option value="2">Oben links</option>
<option value="8">Unten mittig</option>
<option value="9">Unten rechts</option>
<option value="10">Unten links</option>
<option value="17">Im Text rechts</option>
<option value="18">Im Text links</option>
<option value="25">Neben dem Text rechts</option>
<option value="26">Neben dem Text links</option>
-->

{namespace v=FluidTYPO3\Vhs\ViewHelpers}
{namespace fcsc=Scarbous\fcsc\ViewHelpers}

<f:layout name="Default" />
<f:section name="Main">

    <v:switch value="{data.imageorient}">
        <v:case case="0" break="1">
            <div class="media imageOrient-{data.imageorient}">
                <div class="imageContainerWrap">
                    <div class="imageContainer imageCols-{data.imagecols}"><f:render partial="Images" arguments="{_all}"/></div>
                </div>
                <div class="content"><f:render partial="Text" arguments="{_all}" /></div>
            </div>
        </v:case>
        <v:case case="1" />
        <v:case case="2" />
        <v:case case="17" />
        <v:case case="18" />
        <v:case case="25" />
        <v:case case="26" break="1">
            <div class="media imageOrient-{data.imageorient}">
                <div class="imageContainer imageCols-{data.imagecols}"><f:render partial="Images" arguments="{_all}"/></div>
                <div class="content"><f:render partial="Text" arguments="{_all}" /></div>
            </div>
        </v:case>

        <v:case case="8" break="1">
            <div class="media imageOrient-{data.imageorient}">
                <div class="content"><f:render partial="Text" arguments="{_all}" /></div>
                <div class="imageContainerWrap">
                    <div class="imageContainer imageCols-{data.imagecols}"><f:render partial="Images" arguments="{_all}"/></div>
                </div>
            </div>
        </v:case>
        <v:case case="9" />
        <v:case case="10" break="1">
            <div class="media imageOrient-{data.imageorient}">
                <div class="content"><f:render partial="Text" arguments="{_all}" /></div>
                <div class="imageContainer imageCols-{data.imagecols}"><f:render partial="Images" arguments="{_all}"/></div>
            </div>
        </v:case>
    </v:switch>

</f:section>
